
@{
    ViewBag.Title = "Error400";
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}

<div class="h-100 row">
    <div class="bg-dark col-6">
        <table class="w-100 h-100">
            <tr>
                <td class="text-center text-fm text-info ">
                    <h1>400 Bad Request</h1>
                    <p>The plain HTTP request was sent to HTTPS port</p>
                    <a href="#" onclick="history.back()"><span class="badge badge-info"><i class="fas fa-reply"></i> 返回前頁</span></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="bg-info col-6">
        <table class="h-100 w-100">
            <tr>
                <td class="text-center">
                    <img src="~/img/400.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/400.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/400.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/400.png" class="w-25" />
                </td>
            </tr>
        </table>
    </div>
</div>

