
@{
    ViewBag.Title = "ID_Full_Error";
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}

<div class="h-100 row">
    <div class="bg-dark col-6">
        <table class="w-100 h-100">
            <tr>
                <td class="text-center text-fm text-purple ">
                    <h1>糟糕!!系統吃太飽啦~</h1>
                    <p>請聯絡開發人員</p>
                    <a href="#" onclick="history.back()"><span class="badge badge-purple"><i class="fas fa-reply"></i> 返回前頁</span></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="bg-purple col-6">
        <table class="h-100 w-100">
            <tr>
                <td class="text-center">
                    <img src="~/img/full.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/full.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/full.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/full.png" class="w-25" />
                </td>
            </tr>
        </table>
    </div>
</div>


