
@{
    ViewBag.Title = "NotFound404";
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}

    <div class="h-100 row">
        <div class="bg-dark col-6">
            <table class="w-100 h-100">
                <tr>
                    <td class="text-center text-fm text-warning">
                        <h1>Oops!! 404 Not Found</h1>
                        <p>The requested url was not found on this server</p>
                        <a href="#" onclick="history.back()"><span class="badge badge-warning"><i class="fas fa-reply"></i> 返回前頁</span></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bg-warning col-6">
            <table class="h-100 w-100">
                <tr>
                    <td class="text-center">
                        <img src="~/img/404.png" class="w-25" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="~/img/404.png" class="w-25" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="~/img/404.png" class="w-25" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="~/img/404.png" class="w-25" />
                    </td>
                </tr>
            </table>
        </div>
    </div>