
@{
    ViewBag.Title = "Low_Authority";
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}
    <div class="h-100 row">
        <div class="bg-dark col-6">
            <table class="w-100 h-100">
                <tr>
                    <td class="text-center text-fm text-success ">
                        <h1>oh~!!權限不足</h1>
                        <p>您目前沒有查看此頁面的權限喲~!!</p>
                        <a href="#" onclick="history.back()"><span class="badge badge-success"><i class="fas fa-reply"></i> 返回前頁</span></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bg-success col-6">
            <table class="h-100 w-100">
                <tr>
                    <td class="text-center">
                        <img src="~/img/Low_Authority.png" class="w-25" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="~/img/Low_Authority.png" class="w-25" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="~/img/Low_Authority.png" class="w-25" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="~/img/Low_Authority.png" class="w-25" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
