<div class="h-100 row">
    <div class="bg-dark col-6">
        <table class="w-100 h-100">
            <tr>
                <td class="text-center text-fm text-danger ">
                    <h1>糟糕!!發生不明原因錯誤</h1>
                    <a href="#" onclick="history.back()"><span class="badge badge-red"><i class="fas fa-reply"></i> 返回前頁</span></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="bg-danger col-6">
        <table class="h-100 w-100">
            <tr>
                <td class="text-center">
                    <img src="~/img/error.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/error.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/error.png" class="w-25" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="~/img/error.png" class="w-25" />
                </td>
            </tr>
        </table>
    </div>
</div>

